img {
	max-width: none;
}

.logo-test {
	position: absolute;
	width: 500px;
	display: inline-block;
	float: left;
}

/*****************/
/* CSS ANIMATION */
/*****************/

.spin-1 {
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 20s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.spin-2 {
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.spin-3 {
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.spin-4 {
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


.translateX-1 {
	-webkit-animation-name: translateX; 
    -webkit-animation-duration: 20s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.translateX-2 {
	-webkit-animation-name: translateX; 
    -webkit-animation-duration: 15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.translateX-3 {
	-webkit-animation-name: translateX; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.translateX-4 {
	-webkit-animation-name: translateX; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}


@-webkit-keyframes translateX {
    from {-webkit-transform: translateX(0px)}
    to {-webkit-transform: translateX(1000px)}
}