html {
	margin: 0;
	padding: 0;
}

body {
	background-color: green;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* IMAGE DATABASE */

	.image-bin {
		height: 100%;
		width: 100%;
	}

/* MODAL LAYER */
	
	.modal-layer {
		height: 100%;
		width: 100%;
		background-color: white;
		opacity: 1;
		display: none;
	}


/* DESIGN CANVAS */

	.canvas-ui {
		display: -webkit-flex;
		display: flex;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -200px;
		margin-left: -280px;
		padding: 10px;
		min-height: 380px;
		min-width: 540px;
		width: 540px;
		height: 380px;
		min-height: 380px;
		background-color: #fffcfc;

		border-bottom: outset 2px white;
		border-right: outset 2px white;

		-webkit-box-shadow: 1px 13px 26px rgba(50, 50, 50, 0.85);
		-moz-box-shadow:    1px 13px 26px rgba(50, 50, 50, 0.85);
		box-shadow:         1px 13px 26px rgba(50, 50, 50, 0.85);

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.canvas-artboard-border {
		-webkit-flex: 1;
		flex: 1;
		position: relative;
		margin: 0 0 0 10px;
		/*min-width: 460px;
		min-height: 380px;
		height: 95%;
		width: 85%;*/
		background-color: rgb(93, 230, 166);

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.canvas-artboard {
		position: relative;
		top: 38px;
		margin: 0 auto;
		height: 285px;
		width: 354px;
		background-color: white;
	}

	.canvas-tools {
		position: relative;
		display: inline-block;
		height: 360px;
		width: 70px;
		height: 100%;
		/*margin: 10px 10px;*/
		background-color: rgb(218, 216, 216);

		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
	}

	.tools-wrapper {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 100%;
		bottom: 0;
		
	}

	.canvas-tools-buttons {
		position: relative;
		float: left;
		margin: 9px;
		width: 45px;
		height: 40px;
		background-color: rgb(70, 203, 221);

		border: 3px solid #fffcfc;;

		border-radius: 10px;
	}

	.canvas-tool-button-active {
		background-color: white;
	}

	.canvas-settings-button {
		z-index: 10;
		top: 0;
	}

		.canvas-settings-button:before {
			content: "";
			display: block;
			width: 29px;
			height: 25px;
			background-image: url(assets/settings_icon.png);
			background-size: 29px 25px;
			margin: 8px 9px;
		}

		/* settings-button active */
			.canvas-settings-button-active {
				top: 0;
				z-index: 10;
				border-color: white;
			}

				.canvas-settings-button-active:before {
					content: "";
					display: block;
					width: 29px;
					height: 25px;
					background-image: url(assets/settings_icon_active.png);
					background-size: 29px 25px;
					margin: 8px 9px;
				}

				/* Settings Options */

				.settings-options-wrapper {
					position: absolute;
					width: 210px;
					height: 46px;
					background-color: white;
					border-radius: 10px;
					z-index: 5;
					top: 9px;
					left: 45px;
					display: none;

					-webkit-box-shadow: 1px 13px 26px rgba(50, 50, 50, 0.12);
					-moz-box-shadow:    1px 13px 26px rgba(50, 50, 50, 0.12);
					box-shadow:         1px 13px 26px rgba(50, 50, 50, 0.12);
				}

				.settings-options {
					width: 30px;
					height: 25px;
					margin: 10px 0px 8px 15px;
					float: left;
					background-size: 30px 25px;
				}

				.settings-options-main-menu {
					margin-left: 25px;
					background-image: url(assets/home_icon_active.png);
				}

				.settings-options-new-canvas {
					background-image: url(assets/new_canvas_icon_activate.png);
				}

				.settings-options-help {
					background-image: url(assets/help_icon_active.png);
				}

	.canvas-design-button {
		border-radius: 10px 10px 0 0;
		border-bottom: 0;
		margin-bottom: 0;
		margin-top: 50px;
	}

		.canvas-design-button:before {
			content: "";
			display: block;
			width: 28px;
			height: 24px;
			background-image: url(assets/design_icon.png);
			background-size: 28px 24px;
			margin: 8px 9px;
		}

		/* design-button active */
			.canvas-design-button-active {
				border-radius: 10px 10px 0 0;
				border-bottom: 0;
				margin-bottom: 0;
				margin-top: 50px;
			}

				.canvas-design-button-active:before {
					content: "";
					display: block;
					width: 28px;
					height: 24px;
					background-image: url(assets/design_icon_active.png);
					background-size: 28px 24px;
					margin: 8px 9px;
				}

	.canvas-product-button {
		border-radius: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

		.canvas-product-button:before {
			content: "";
			display: block;
			width: 23px;
			height: 23px;
			background-image: url(assets/product_icon.png);
			background-size: 23px 23px;
			margin: 8px 11px;
		}

		/* product-button active */
			.canvas-product-button-active {
				border-radius: 0;
				margin-top: 0;
				margin-bottom: 0;
			}

			.canvas-product-button-active:before {
				content: "";
				display: block;
				width: 23px;
				height: 23px;
				background-image: url(assets/product_icon_active.png);
				background-size: 23px 23px;
				margin: 8px 11px;
			}

	.canvas-complete-button {
		border-radius: 0 0 10px 10px;
		border-top: 0;
		margin-top: 0;
	}

		.canvas-complete-button:before {
			content: "";
			display: block;
			width: 29px;
			height: 24px;
			background-image: url(assets/complete_icon.png);
			background-size: 29px 24px;
			margin: 7px 8px;
		}

		/* complete-button active */
			.canvas-complete-button-active {
				border-radius: 0 0 10px 10px;
				border-top: 0;
				margin-top: 0;
			}

			.canvas-complete-button-active:before {
				content: "";
				display: block;
				width: 29px;
				height: 24px;
				background-image: url(assets/complete_icon_active.png);
				background-size: 29px 24px;
				margin: 7px 8px;
			}

	.canvas-zoom-button {
		position: absolute;
		bottom: 0;
	}

		.canvas-zoom-button:before {
			content: "";
			display: block;
			width: 38px;
			height: 34px;
			background-image: url(assets/zoom_in_icon.png);
			background-size: 38px 34px;
			margin: 4px 4px;
		}

	/* CSS ANIMATIONS */

	.design-canvas-zoom-out {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: zoomOut;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes zoomOut {
	  from {
	  	/*-webkit-transform: scale(1.9);
		transform: scale(1.9);*/
		width: 99%;
		height: 99%;
		margin-left: -50%;
		margin-top: 0;
		top: 0;
	  }

	  to {
	  	/*-webkit-transform: scale(1);
		transform: scale(1);*/
		width: 540px;
		height: 380px;
		min-height: 380px;
		min-width: 540px;
		/*margin-left: -270px;*/
	  }
	}

	.design-canvas-zoom-in {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: zoomIn;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes zoomIn {
		from {
			/*-webkit-transform: scale(1);
			transform: scale(1);*/
			width: 540px;
			height: 380px;
			min-height: 380px;
			min-width: 540px;
		}

		to {
			/*-webkit-transform: scale(1.9);
			transform: scale(1.9);*/
			width: 100%;
			height: 100%;
			margin-left: -50%;
			margin-top: 0;
			top: 0;
		}
	}

	.settings-options-wrapper-animation-close {
		display: inline-block;
		overflow: hidden;

		-webkit-animation-duration: .3s;
		-webkit-animation-name: settingsSlideClose;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes settingsSlideClose {
		from {
			width: 158px;
		}

		to {
			width: 0px;
		}
	}

	.settings-options-wrapper-animation-open {
		display: inline-block;
		overflow: hidden;

		-webkit-animation-duration: .3s;
		-webkit-animation-name: settingsSlideOpen;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes settingsSlideOpen {
		from {
			width: 0px;
		}

		to {
			width: 158px
		}
	}

