html {
	margin: 0;
	padding: 0;
}

body {
	background-color: green;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* IMAGE DATABASE */

	.image-bin {
		height: 100%;
		width: 100%;
	}

/* MODAL LAYER */
	
	.modal-layer {
		height: 100%;
		width: 100%;
		background-color: white;
		opacity: 1;
		display: none;
	}


/* DESIGN CANVAS */

	.canvas-ui {
		position: fixed;
		display: inline-block;
		top: 50%;
		left: 50%;
		margin-top: -190px;
		margin-left: -270px;
		height: 380px;
		width: 540px;
		background-color: #fffcfc;

		border-bottom: outset 2px white;
		border-right: outset 2px white;

		-webkit-box-shadow: 1px 13px 26px rgba(50, 50, 50, 0.85);
		-moz-box-shadow:    1px 13px 26px rgba(50, 50, 50, 0.85);
		box-shadow:         1px 13px 26px rgba(50, 50, 50, 0.85);

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.canvas-artboard-border {
		position: relative;
		display: inline-block;
		float: left;
		margin: 10px 10px 10px 0;
		height: 360px;
		width: 440px;
		background-color: rgb(93, 230, 166);

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.canvas-artboard {
		position: relative;
		top: 38px;
		margin: 0 auto;
		height: 285px;
		width: 354px;
		background-color: white;
	}

	.canvas-tools {
		display: inline-block;
		position: relative;
		float: left;
		height: 360px;
		width: 70px;
		margin: 10px 10px;
		background-color: rgb(218, 216, 216);

		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
	}

	.tools-wrapper {
		position: absolute;
		width: 50px;
		height: 360px;
		bottom: 0;
		display: inline-block;
	}

	.canvas-tools-buttons {
		position: relative;
		float: left;
		margin: 9px;
		width: 45px;
		height: 40px;
		background-color: rgb(70, 203, 221);

		border: 3px solid #fffcfc;;

		border-radius: 10px;
	}

	.canvas-tool-button-active {
		background-color: white;
	}

	.canvas-settings-button {
		top: 0;
	}

		.canvas-settings-button:before {
			content: "";
			display: block;
			width: 29px;
			height: 25px;
			background-image: url(assets/settings_icon.png);
			background-size: 29px 25px;
			margin: 8px 9px;
		}

		/* settings-button active */
			.canvas-settings-button-active {
				top: 0;
			}

				.canvas-settings-button-active:before {
					content: "";
					display: block;
					width: 29px;
					height: 25px;
					background-image: url(assets/settings_icon_active.png);
					background-size: 29px 25px;
					margin: 8px 9px;
				}

	.canvas-design-button {
		border-radius: 10px 10px 0 0;
		border-bottom: 0;
		margin-bottom: 0;
		margin-top: 50px;
	}

		.canvas-design-button:before {
			content: "";
			display: block;
			width: 28px;
			height: 24px;
			background-image: url(assets/design_icon.png);
			background-size: 28px 24px;
			margin: 8px 9px;
		}

		/* design-button active */
			.canvas-design-button-active {
				border-radius: 10px 10px 0 0;
				border-bottom: 0;
				margin-bottom: 0;
				margin-top: 50px;
			}

				.canvas-design-button-active:before {
					content: "";
					display: block;
					width: 28px;
					height: 24px;
					background-image: url(assets/design_icon_active.png);
					background-size: 28px 24px;
					margin: 8px 9px;
				}

	.canvas-product-button {
		border-radius: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

		.canvas-product-button:before {
			content: "";
			display: block;
			width: 23px;
			height: 23px;
			background-image: url(assets/product_icon.png);
			background-size: 23px 23px;
			margin: 8px 11px;
		}

		/* product-button active */
			.canvas-product-button-active {
				border-radius: 0;
				margin-top: 0;
				margin-bottom: 0;
			}

			.canvas-product-button-active:before {
				content: "";
				display: block;
				width: 23px;
				height: 23px;
				background-image: url(assets/product_icon_active.png);
				background-size: 23px 23px;
				margin: 8px 11px;
			}

	.canvas-complete-button {
		border-radius: 0 0 10px 10px;
		border-top: 0;
		margin-top: 0;
	}

		.canvas-complete-button:before {
			content: "";
			display: block;
			width: 29px;
			height: 24px;
			background-image: url(assets/complete_icon.png);
			background-size: 29px 24px;
			margin: 7px 8px;
		}

		/* complete-button active */
			.canvas-complete-button-active {
				border-radius: 0 0 10px 10px;
				border-top: 0;
				margin-top: 0;
			}

			.canvas-complete-button-active:before {
				content: "";
				display: block;
				width: 29px;
				height: 24px;
				background-image: url(assets/complete_icon_active.png);
				background-size: 29px 24px;
				margin: 7px 8px;
			}

	.canvas-zoom-button {
		position: absolute;
		bottom: 0;
	}

		.canvas-zoom-button:before {
			content: "";
			display: block;
			width: 38px;
			height: 34px;
			background-image: url(assets/zoom_in_icon.png);
			background-size: 38px 34px;
			margin: 4px 4px;
		}

	/* CSS ANIMATIONS */

	.design-canvas-zoom-out {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: zoomOut;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes zoomOut {
	  from {
	  	-webkit-transform: scale(1.9);
		transform: scale(1.9);
		width: 680px;
		margin-left: -340px;
	  }

	  to {
	  	-webkit-transform: scale(1);
		transform: scale(1);
		width: 540px;
		margin-left: -270px;
	  }
	}

	.design-canvas-zoom-in {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: zoomIn;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	}

	@-webkit-keyframes zoomIn {
		from {
			-webkit-transform: scale(1);
			transform: scale(1);
			width: 540px;
		}

		to {
			-webkit-transform: scale(1.9);
			transform: scale(1.9);
			width: 680px;
			margin-left: -340px;
		}
	}

